/* ======== GOOGLE FONT ========= */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ===== VARIABLE CSS ========= */
:root{
  --orange-color:#e2aa31;
  --white-color:rgb(250, 243, 243);
  --greyy-color:rgb(219, 224, 241);


  --heading-font:"inter";
  --first-font: "barlow condensed";

  --title-size:5rem;
  --semi-title-size:2.5rem;
  --big-size:1.3rem;
  --small-size:1.2rem;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(223, 222, 219);
  
}

.section{
box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
height: 90vh;
width: 96%;
margin: 1rem;
border-radius: 5px ;

}
.title{
  font-family: var(--first-font);
  font-weight: 800;
  font-size: var(--title-size);
}
html{
  scroll-behavior: smooth;
}

.headings{
  font-family: var(--heading-font);

}

/* ================== HERO SECTION =================== */

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero_section{
  height: 90vh;
  width: 96%;

  display: flex;
  
  
  align-items: center;
  margin-top: 3%;
  gap: 2%;
  background-color: var(--white-color);  
}


.hero_left_shape{
  height: 50%;
  width: 4%;
  background-color: var(--orange-color);
}


.hero_left_div{
  flex: 1;
}


.hero_right_div{
  flex: 1;
  display: grid;
  align-items: center;
  justify-content: center;

}


.section_title{
   font-family: var(--heading-font);
   margin: 0.7rem;
}


.hero_title-1{
  display: inline-block;
  font-size: var(--semi-title-size);
  margin-left: 0.3rem;
  color: var(--orange-color);
  border-bottom: 5px solid var(--orange-color) ;
}


.hero_title-2{
  font-size: var(--title-size);
}
.hero_title-3{
  display: inline-block;
  font-size: var(--big-size);
  background-color: var(--orange-color);
  padding: 0.15rem;
}
.hero_title-4{
  font-size: var(--big-size);
  display: inline-block;
  background-color: black;
  color: var(--orange-color);
  padding: 0.15rem;
}
.hero_para{
  font-family: var(--first-font);
  margin: 1.5rem;
  font-size: var(--small-size);
}

.hero_button{
  font-family: var(--heading-font);
  font-size: var(--big-size);
  background-color: black;
  color: var(--white-color);
  font-weight: 600;
  padding: 10px;
  border-radius: 30px;
  margin-left: 1.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s;
}
.hero_button:hover{
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  background-color: rgb(44, 44, 44);
  transform: translateY(-2px);
}


.hero_right_div img{
  height: auto;
  width: 95%;
  border-radius: 50%;
  position: relative;
  box-shadow: 10px 10px 10px rgba(231, 180, 104, 0.3);

}
 
.nav{
  height: 70%;
  
  width: 4%;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: space-between;
  
  
}
.nav i{
  color: var(--orange-color);
  background-color: black;
  padding: 7px;
  border-radius: 50%;
  font-size: var(--big-size);
  z-index: 1;
  cursor: pointer;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

.nav_line{
  z-index: 0;
  height: 60%;
  width: 2px;
  background-color:black ;
  position: absolute;
  
}

.nav i:hover{
  position: relative;
  color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
  
}

/* =============== ABOUT SECTION ============== */
.about_section{
  display: flex;
}
.about_left{
  width: 20%;
  height: 100%;
  
}
.about_left .image_box{
  height: 35%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-top-left-radius: 5px ;
}
.about_left img{
  height: auto;
  width: 200px;
  border-radius: 50%;
  border: 5px solid white;
}

 /* NAV BAR */
  
  .nav_bar{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top:3rem ;
    padding-bottom:3rem ;
    background-color: var(--orange-color);
  }

  .nav_bar a{
    text-decoration: none;
    color: black;
    font-family: var(--heading-font);
    font-weight: 800;
    transition: tranform 0.4s , color 0.4s;

  }
  .nav_bar a:hover{
    color: var(--greyy-color);
    transform: translateY(-3px) ;
  }


.about_top{
  margin-right: 4%;
}  

.about_right{
  width: 80%;
  height: 100%;
  background-color: var(--greyy-color);
  padding-left: 4rem;
  padding-top: 2rem;
  align-items: center;
  
}
.about_top p{
  font-family: var(--first-font);
  font-size: var(--small-size);
}
.about_headings{
  padding: 7px;
  font-size: 1.8rem;
  font-weight: 400;
}
.about_lower{
  display: flex;
  margin-top: 1rem;
}

/* ======== LOWER RIGHT ================ */
.lower_right{
  
  width: 50%;


}

.stats{
  padding-top: 3rem;
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 30px;

  justify-items: center;
}

.circle{
  width: 120px;
  height: 120px;

  border-radius: 50%;
  background: black;

  color: orange;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  flex-wrap: wrap;
}

.circle h1{
  font-size: 2.5rem;
}

.circle p{
  color: white;
  font-size: 0.8rem;
}
  

/* ====== LOWER LEFT ===== */

.lower_left{
  width: 45%;
  padding-right: 1rem;
}
.lower_heading{
  background-color:var(--orange-color);
  margin-bottom: 5px;
  display: inline-block;
  padding: 7px;
  border-radius: 20px;
  
}

.lower_img{
  width: 80px;
  height: auto;
  background-color: var(--orange-color);  
  margin: 1rem;
  padding: 0.8rem;
  border-radius: 50%;
  
}
.lower_fontdesign,
.lower_webdesign,
.lower_photography{
  display: flex;
  justify-content: center;

}

.fontdesign_heading,
.webdesign_heading,
.photography_heading{
  padding: 5px;
  margin: 3px;
  font-family: var(--heading-font);
  font-weight: 800; 
}
.webdesign_para,
.fontdesign_para,
.photography_para{
  font-family: var(--first-font);
}